<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Add Vehicle</title>
    <link rel="stylesheet" type="text/css" href="css/add_vehicle_style.css">

</head>
<body>
<h1>Add Vehicle</h1>
<form action="/vehicle/add" method="post">
    <label for="manufacture">Manufacturer:</label>
    <select name="manufacture" id="manufacture">
        <option value="SUBARU">Subaru</option>
        <option value="KIA">Kia</option>
        <option value="VOLVO">Volvo</option>
        <option value="BMW">BMW</option>
        <option value="HONDA">Honda</option>
        <option value="FORD">Ford</option>
        <option value="GM">GM</option>
        <option value="MAZDA">Mazda</option>
        <option value="TOYOTA">Toyota</option>
        <option value="MITSUBISHI">Mitsubishi</option>
    </select>
    <br>

    <label for="engineType">Engine Type:</label>
    <select name="engineType" id="engineType">
        <option value="Gasoline">Gasoline</option>
        <option value="Diesel">Diesel</option>
        <option value="Hybrid">Hybrid</option>
        <option value="Electric">Electric</option>
    </select>
    <br>

    <label for="model">Model:</label>
    <input type="text" name="model" id="model">
    <br>

    <label for="price">Price:</label>
    <input type="text" name="price" id="price">
    <br>

    <label for="age">Age:</label>
    <input type="text" name="age" id="age">
    <br>

    <label for="weight">Weight:</label>
    <input type="text" name="weight" id="weight">
    <br>

    <input type="submit" value="Save">
</form>
</body>
</html>
