<!DOCTYPE html>
<html>
<head>

    <title>Add User</title>
    <link rel="stylesheet" type="text/css" href="static/css/add_user_style.css">

</head>

<body>
<div class="container" align="center">
    <h1>Add User</h1>

    <form action="/user/add" method="post">
        <div>
            <label for="user_name">Name:</label>
            <input type="text" id="user_name" name="user_name">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>

        <div>
            <input type="submit" value="Add">
        </div>

        <div>
            <a href="/login" class="back-to-login">Back to Login</a>
        </div>

    </form>
</div>

<#if errorMessage??>
<div class="container" align="center">
    <p></p>
    <p class="error-message"><strong>${errorMessage}</strong></p>
</div>
</#if>

<div class="image-container">
    <img src="static/img/image.png">
</div>

</body>
</html>

