<!DOCTYPE html>
<html>
<head>
    <title>God Mode</title>
    <link rel="stylesheet" type="text/css" href="static/css/common.css">
    <link rel="icon" href="static/favicon/favicon.ico" type="image/vnd.microsoft.icon">

</head>
<body>

<h1 id="admin_title">God Mode</h1>

<form id="logout_admin" class="logout" action="/logout" method="POST">
    <button type="submit">Logout</button>
</form>

<form id="statistic_admin">
    <h3>OS statistic:</h3>
    <p>Users count: ${usersCount}</p>
    <p>Vehicles count: ${vehiclesCount}</p>
</form>

<a id="users_cache_admin" href="/user_all">Users</a>
<br/>
<a id="add_new_user_admin" href="/user_add">Add User</a>
<br/>
<a id="add_new_vehicle_admin" href="/vehicle_add">Add Vehicle</a>
<br/>
<a id="all_vehicles_admin" href="/vehicle_all">Vehicles</a>

<div class="image_container">
    <img src="static/img/image.png">
</div>

</body>
</html>
