<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="static/css/login_style.css">
</head>
<body>

<div class="container">
    <h1>Input data:</h1>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <div class="btn-group">
            <input type="submit" value="Submit">
            <a href="/user/add" class="button add-user-button">Add new user</a>
        </div>
        <br/>
        <a href="/task">Forgot Password?</a>
    </form>
</div>

<div class="image-container">
    <img src="static/img/image.png">
</div>

<div>
    <link rel="icon" href="static/favicon/favicon.ico" type="image/vnd.microsoft.icon">
</div>

</body>
</html>
