<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <link rel="stylesheet" type="text/css" href="static/css/common.css">
    <link rel="icon" href="static/favicon/favicon.ico" type="image/vnd.microsoft.icon">
</head>

<body>

<div class="container">
    <h1 class="users_cache">Available users:</h1>
    <div class="users_buttons">
        <a href="/user_add" class="back-to-add">Back to Add</a>
        <a href="/login" class="back-to-login">Back to Login</a>
    </div>

    <p></p>

    <table id="user-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Password</th>
            <th>Registration Time</th>
            <th class="action-column">Actions</th>
        </tr>
        </thead>
        <tbody>
        <#if users?has_content>
        <#list users as user>
        <tr>
            <td>${user.userId?if_exists}</td>
            <td>${user.login?if_exists}</td>
            <td>${user.password?if_exists}</td>
            <td>${user.registrationTime?if_exists}</td>
            <td class="action-column">
                <a href="/user_edit?id=${user.userId?if_exists}" id="edit_user_button">Edit</a>

                <form action="/user/delete"
                      method="post"
                      onsubmit="return confirm('Are you sure you want to delete this user?');"
                      class="delete_user">
                    <input type="hidden" name="id" value="${user.userId?if_exists}">
                    <button class="delete-button">Delete</button>
                </form>

            </td>
        </tr>
        </#list>
    </#if>
    </tbody>
    </table>
</div>
</body>
</html>
