<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>Edit Vehicle</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/static/favicon/favicon.ico">
</head>

<body id="edit_vehicle_class_id">

<form id="edit_vehicle_title_container" method="POST" action="/vehicle_edit">

    <h1 id="edit_vehicle_title">Edit Vehicle</h1>

    <input type="hidden" name="vehicleId" value="${vehicle.vehicleId.orElse(null)}">
    <label for="manufacturer">Manufacturer:</label>
    <input type="text" id="manufacturer" name="manufacturer" value="${vehicle.manufacture}">

    <br/>

    <label for="enginetype">Engine Type:</label>
    <input type="text" id="enginetype" name="enginetype" value="${vehicle.engineType}">

    <br/>

    <label for="model">Model:</label>
    <input type="text" id="model" name="model" value="${vehicle.model.orElse(null)}" required/>

    <br/>

    <label for="price">Price:</label>
    <input type="number" id="price" name="price" value="${vehicle.price.orElse(null)}" required/>

    <br/>

    <label for="age">Age:</label>
    <input type="number" id="age" name="age" value="${vehicle.age.orElse(null)}" required/>

    <br/>

    <label for="weight">Weight:</label>
    <input type="number" id="weight" name="weight" value="${vehicle.weight.orElse(null)}" required/>

    <br/>

    <button id="save_updated_vehicle" type="submit">Save</button>
</form>

<div class="image_container">
    <img src="/static/img/image.png">
</div>

</body>
</html>
