<!DOCTYPE html>
<html>
<head>
    <title>Car List</title>
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">

</head>
<body>
<h1 id="vehicles_title">Vehicles:</h1>

<form id="by_manufacturer" action="/vehicle_all" method="get">
    <label for="manufacturer">Filter by Manufacturer:</label>
    <select name="manufacturer" id="manufacturer">
        <option value="">All</option>
        <#list manufacturers as manufacturer>
        <option value="${manufacturer}">${manufacturer}</option>
    </#list>
    </select>
    <button type="submit">Manufacture Filter</button>
</form>

<form id="by_engine" action="/vehicle_all" method="get">
    <label for="engineType">Filter by Engine Type:</label>
    <select name="engineType" id="engineType">
        <option value="">All</option>
        <#list engineTypes as engineType>
        <option value="${engineType}">${engineType}</option>
    </#list>
    </select>
    <button type="submit">Engine Filter</button>
</form>

<div id="add_new_vehicle_in_list">
    <a href="/vehicle_add">Add Vehicle</a>
</div>

<br/>

<a id="add_new_vehicle" href="/vehicle_add">Back to Add</a>

<table id="vehicle_list">
    <thead>
    <tr>
        <th>ID</th>
        <th>Manufacturer</th>
        <th>Engine Type</th>
        <th>Model</th>
        <th>Price</th>
        <th>Age</th>
        <th>Weight</th>
    </tr>
    </thead>
    <tbody id="vehicles">
    <#list vehicles as vehicle>
    <tr>
        <td>${vehicle.vehicleId}</td>
        <td>${vehicle.manufacture.manufacture}</td>
        <td>${vehicle.engineType.type}</td>
        <td>${vehicle.model}</td>
        <td>${vehicle.price}</td>
        <td>${vehicle.age}</td>
        <td>${vehicle.weight}</td>
        <td>
            <a id="edit_vehicle" href="/vehicle_edit?vehicle_id=${vehicle.vehicleId?if_exists}" class="edit-button">Edit</a>
            <p/>
            <form id="delete_vehicle"
                  action="/vehicle/delete"
                  method="post"
                  onsubmit="return confirm('Are you sure you want to delete this vehicle?');">
                <input type="hidden" name="vehicleId" value="${vehicle.vehicleId?if_exists}">
                <button type="submit" class="delete-button">Delete</button>
            </form>
        </td>
    </tr>
    </#list>

    </tbody>
</table>

<a id="add_vehicle2" href="/vehicle_add">Back to Add</a>

</body>
</html>

