<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>Edit Vehicle</title>
    <link rel="stylesheet" href="static/css/common.css">
    <link rel="icon" href="static/favicon/favicon.ico" type="image/vnd.microsoft.icon">

</head>

<body id="edit_vehicle_class_id">

<form id="edit_vehicle_title_container" method="POST" action="/vehicle_edit">

    <h1 id="edit_vehicle_title">Edit Vehicle</h1>

    <input type="hidden" name="vehicleId" value="${vehicle.vehicleId}">

    <label for="manufacturer">Manufacturer:</label>
    <select name="manufacturer" id="manufacturer">
        <option>${vehicle.manufacture}</option>
        <option>SUBARU</option>
        <option>KIA</option>
        <option>TOYOTA</option>
        <option>BMW</option>
        <option>HONDA</option>
        <option>FORD</option>
        <option>GM</option>
        <option>MAZDA</option>
        <option>MITSUBISHI</option>
    </select>

    <br/>

    <label for="enginetype">Engine Type:</label>
    <select id="enginetype" name="enginetype">
        <option>${vehicle.engineType}</option>
        <option>GASOLINE</option>
        <option>DIESEL</option>
        <option>HYBRID</option>
        <option>ELECTRIC</option>
    </select>

    <br/>

    <label for="model">Model:</label>
    <input type="text" id="model" name="model" value="${vehicle.model}" required/>


    <br/>

    <label for="price">Price:</label>
    <input type="number" name="price" id="price" step="0.01" required value="${vehicle.price}">

    <br/>

    <label for="age">Age:</label>
    <select name="age" id="age" required>
        <option value="${vehicle.age}">${vehicle.age} years</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
    </select>

    <br/>

    <label for="weight">Weight:</label>
    <input type="number" name="weight" id="weight" step="1" required value="${vehicle.weight}">

    <br/>

    <button id="save_updated_vehicle" type="submit">Save</button>
</form>

<div class="image_container">
    <img src="static/img/image.png">
</div>

</body>
</html>
