<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="icon" href="../favicon/favicon.ico" type="image/vnd.microsoft.icon">
</head>

<body>

<#if vehicles?has_content>
    <table id="vehicles_cart_list">
        <thead>
        <tr>
            <th>ID</th>
            <th>Manufacturer</th>
            <th>Engine Type</th>
            <th>Model</th>
            <th>Price</th>
            <th>Age</th>
            <th>Weight</th>
        </tr>
        </thead>

        <#list vehicles as vehicle>
        <tr>
            <td>${vehicle.vehicleId}</td>
            <td>${vehicle.manufacture.manufacture}</td>
            <td>${vehicle.engineType.type}</td>
            <td>${vehicle.model}</td>
            <td>${vehicle.price}</td>
            <td>${vehicle.age}</td>
            <td>${vehicle.weight}</td>
        </tr>
        </#list>

    </table>
<#else>
    <h1>Cart is empty</h1>
</#if>

<a id="card_data" href="/payment">Payment data<a/>
<p/>
<a id="back_to_shopping" href="/vehicle_all">Back to shopping<a/>

<div class="image_container">
    <img src="../img/image.png">
</div>

</body>
</html>
