<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="icon" href="../favicon/favicon.ico" type="image/vnd.microsoft.icon">
</head>
<body>

<div id="payment_form" class="container">
    <form class="card-form"
          method="post"
          action="/payment"
          onsubmit="return confirm('Thank you for your purchase. Would you like to continue shopping?');">
        <label for="cardNumber">Card Number:</label>
        <input type="text" id="cardNumber" name="cardNumber" placeholder="Enter card number" required>

        <label for="expiryDate">Expiry Date:</label>
        <input type="text" id="expiryDate" name="expiryDate" placeholder="MM/YY" required>

        <label for="cvv">CVV:</label>
        <input type="text" id="cvv" name="cvv" placeholder="CVV" required>

        <button id="pay">BUY</button>
    </form>
</div>

<a id="by_vehicle" href="/vehicle_all">BUY<a/>

  <div class="image_container">
    <img src="../img/image.png">
  </div>

</body>
</html>