<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Wrong Answer</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="icon" href="../favicon/favicon.ico" type="image/vnd.microsoft.icon">

</head>
<body>
<h1 class="wrong_answer">Wrong answer, try again</h1>
<a href="/task">
    <button class="try_again">Try again</button>
</a>

<div class="image_container_wrong_answer">
    <img src="../img/wrong_answer.png">
</div>
</body>
</html>